/* Optional custom styles */
body {
    font-family: 'Arial', sans-serif;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .bg-gray-200 {
    background-color: #f7fafc;
  }
  
  .bg-gray-100 {
    background-color: #f1f5f9;
  }
  
  #datetime1, #datetime2 {
    color: #2d3748;
  }
  
  #mqttStatus {
    font-size: 16px;
  }
  